.about__info {
  background: var(--bg-color1);
  padding: 2rem 1rem;
  border-radius: 16px;
  box-shadow: -1.5rem 0 0 var(--bg-color1), 1.5rem 0 0 var(--bg-color1);
  margin: 3rem -1rem;

  &>.about__info__title {
    margin: 0;
  }

  &>* {
    margin: 1rem 0 0 0;
  }
}
