.projects {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
  gap: 1rem 3rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__img {
  display: block;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0.3rem 0.3rem 0 0 var(--accent-color);
}

.project__links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project__btn {
  font-size: 0.8rem;
  padding: 0.5em 1em;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  background: var(--accent-color);
  transition: background 300ms;

  display: flex;
  align-items: center;
  gap: 1ch;

  &:hover {
    background: var(--accent-hover-color)
  }

  &>svg {
    fill: var(--text-color);
  }
}

.project__title {
  color: var(--secondary-color);
  margin: 1rem 0;
}
