<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" defer></script>

<script>  
  console.log("{{ site.ONESIGNAL_APP_ID }}");
  console.log("{{ site.env }}");
  console.dir("{{ site.github.secrets }}");
  console.dir("{{ site.github.events }}");
  console.dir("{{ site.inputs.environment }}");
  console.dir("{{ site.github.environment_variables }}");
  console.dir("{{ site.github.env }}");
  console.log("{{ site.env.ONESIGNAL_APP_ID }}");
  console.log("{{ site.github.ONESIGNAL_APP_ID }}");
  console.log("{{ site.github.env.ONESIGNAL_APP_ID }}");
  console.log("{{ site.env.github.ONESIGNAL_APP_ID }}");
  const OneSignal_appId = '{{ site.env.ONESIGNAL_APP_ID }}' || '{{ site.env.github.ONESIGNAL_APP_ID }}';

  window.OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: OneSignal_appId,
    });
  });
</script>
