.works__header {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.works__bg {
  background: var(--bg-color1);
}

#works {
  max-width: var(--body-width);
  margin: 0 auto;
  padding: 1rem;
}

.works__split {
  display: block;
  max-height: 8rem;
  width: 100%;
  fill: var(--bg-color1);
  stroke: var(--bg-color1);
}

.works__title {
  font-size: 2rem;
  margin: 0;
}

.works__card__container {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(min(13rem, 100%), 1fr));
  gap: 1.5rem;
}

.works__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  background: #fff;
  border-radius: 1rem;
  padding: 1rem;

}

.works__card__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.works__card__btn {
  font-size: 0.8rem;
  padding: 0.5em 1em;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  background: var(--accent-color);
  transition: background 300ms;

  display: flex;
  align-items: center;
  gap: 1ch;

  &:hover {
    background: var(--accent-hover-color)
  }

  &>svg {
    fill: var(--text-color);
  }
}

.works__link {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1ch;

  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  border: solid 3px var(--text-color);
  transition: color 300ms, background 300ms;

  &>svg {
    fill: var(--text-color);
    transition: fill 300ms;
  }

  &:hover {
    color: var(--bg-color1);
    background: var(--text-color);

    &>svg {
      fill: var(--bg-color1);
    }
  }
}

.works__card__img {
  display: block;
  width: 100%;
  border-radius: 8px;
}
