.content {
  display: flex;
  align-items: center;
}

.error__container {
  width: 100%;
  max-width: var(--body-width);
  margin: 0 auto;
}

.error {
  max-width: 30rem;
  padding: 1rem 1rem;
}

.error__cta {
  display: block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  width: fit-content;
  border-radius: 10px;
  margin: 3rem 0 1rem 0;

  font-size: 0.8rem;
  color: var(--secondary-color);
  border: solid 3px var(--secondary-color);
  transition: color 300ms, background 300ms;

  &:hover {
    color: #fff;
    background: var(--secondary-color);
  }
}
