.footer__split {
  display: block;
  max-height: 8rem;
  width: 100%;
}

.footer__bg {
  background: var(--bg-color2);
}

.footer {
  max-width: var(--body-width);
  margin: 0 auto;

  padding: 0 1rem 2rem 1rem;
  font-size: 0.8rem;
}
