.nav__bg {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav__container {
  max-width: var(--body-width);
  margin: 0 auto;
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;

  padding: 0.5rem;
}

.nav__title {
  padding: 0.5rem;
  margin: 0;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.nav__title__link {
  color: inherit;
  text-decoration: none;
}

.nav__links {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 0.5rem;
}

.nav__link {
  color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 400;
}

.nav__link:hover {
  color: var(--accent-color);
  text-decoration: none; /* Remove default underline */
  border-bottom: 2px solid var(--accent-color); /* Add a subtle bottom border */
  padding-bottom: 0.3rem; /* Adjust padding to make space for the border */
}
