.post {
  margin-bottom: 4.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.post__read-more {
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1ch;
  transition: padding 300ms;

  &>svg {
    fill: var(--secondary-color);
  }

  &:hover {
    padding-left: 0.5rem;
  }
}
